h1 {
  color: coral;
}
h2 {
  color: coral;
}
h3 {
  color: coral;
}

body {
background-image: url('https://wallpapercave.com/wp/wp9167602.jpg');
background-size: cover;
font-family: sans-serif;
margin-top: 80px;
padding: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

a {
  color: yellow;
  text-decoration: none;
}

#myform[multiple] {
 width: 150px;
 height: 300px;
 font-size: 16px;
 background-color: #33cccc;
 padding: 10px;
 height: auto;
}

#myform2[multiple] {
 width: 150px;
 height: 300px;
 font-size: 16px;
 background-color: #33cccc;
 padding: 10px;
 height: auto;
}

input[type="submit"] {
  position: relative;
}

#ingr2 {
  position: absolute;
  top: 40%;
  margin: 0;
  border: 2px solid black;
}

#przepisyTable td {
  color: #ff0000;
  background-color: #ffffff;
  border: 3px solid black;
}

#przepisyTable tr {
  color: #ffdd44;
}

.btn {
  float: right;
  /* padding: 10px 40px; */
  /* background-color: #236B8E; */
  /* color: #FFFFFF; */
  /* font-style: oblique; */
  /* font-weight: bold; */
  /* border-radius: 10px; */
} 

.textbox{
  padding: 10px 40px;
  background-color: #236B8E;
  /*text-color: #FFFFFF;*/
  border-radius: 10px;
}
  
::placeholder {
  color: #FFFFFF;
  opacity: 1;
  font-style: oblique;
  font-weight: bold;
}

.word{
  color: #FFFFFF;
  font-style: oblique;
  font-weight: bold;
}

.bottom{
  color: #236B8E;
  font-style: oblique;
  font-weight: bold;
}